@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

$darker-blue: #00134B;
$dark-blue: #002287;
$blue: #4563BF;
$light-blue: #D5EAF2;
$white: #FFF;
$main-font: 'Kdam Thmor Pro', sans-serif;